body {
  margin: 0;
  padding: 0;
  background-color: #373535;
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.title {
  margin: 2rem;
}

/* -------------------First container----------------------- */
.ab {
  margin: auto;
  width: 10vw;
}

a:link {
  list-style: none;
  text-decoration: none;
}

.side-bar {
  background-color: 31313A;
  color: white;
  text-align: center;
  align-items: center;
  row-gap: 1em;
}

i {
  color: white;
  align-items: center;
  text-align: center;
}

.side-bar:hover,
i:hover {
  color: orange;
}

.modify-navbar {
  background-color: #464646;
  height: 80vh;
  width: auto;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 20% 0 20% 20%;
}

/* --------------second container------------------ */
.b {
  margin: auto;
  height: 80vh;
  background-color: #373535;
}

.card-container {
  background-color: #464646;
  margin: 0;
}

.modify-card-img {
  height: 15rem;
}

.modify-pic-allign {
  padding: 20px;
  text-align: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: -100px;
}

.profile-picture img {
  position: absolute;
}

p,
h5 {
  color: white;
  align-items: center;
  text-align: center;
}

.title {
  color: orange;
}

.card-title,
.active {
  color: orange;
}

.fa-fa-modify {
  justify-content: space-around;
}

/*----------------- Third container------------------- */
.c {
  margin: auto;
  height: 80vh;
  flex-wrap: wrap;
  background-color: #464646;
  /* overflow: auto; */
  overflow-y: scroll;
}

.about-page,
.resume-page,
.project-page,
.contact-page {
  padding: 5%;
}

.resume-modify {
  justify-content: space-between;
}

.resume-p-fonts {
  font-size: small;
}

.modify-stack {
  margin-top: 2rem;
}

li {
  list-style: none;
}

.modify-project {
  border-bottom: 1px solid black;
  margin: 2rem 0;
}

.modify-form {
  margin-bottom: 2%;
}

.modify-button:hover {
  background-color: orange;
}

footer {
  background-color: #464646;
  height: 5vh;
  vertical-align: 50%;
}

a {
  font-family: "Amatic SC", cursive;
  color: white;
  text-decoration: none;
}

a:hover {
  color: orange;
}

.hide {
  display: none;
}

/* media queries */
@media only screen and (max-width: 500px) {
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .modify-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hide {
    display: block;
  }

  .resume-modify {
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* flex-wrap: wrap; */
  }

  h6,
  li {
    color: orange;
  }
}
